* {
    font-weight: 100 !important;
}

.row .col {
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.materialboxed:hover:not(.active) {
    opacity: 1;
    filter: brightness(110%);
    transition-delay: 1s;
}

.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-container {
    flex: 1 1 30%;
    margin: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}
